<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>
</head>
<body>
  <%- include('../partials/header.ejs') %>

  <h1>Sign Up for an Account</h1>

  <!-- 1. Create a form to take in a username and a password -->
  <form action="/signup" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
    <br>
    <br>
    <input type="submit">
  </form>
  <!-- 2. When submitting the form, have it make a POST to /signup -->
</body>
</html>