<header>
  <nav>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/fruits">All Fruits</a></li>
      <li><a href="/fruits/new">Create a Fruit</a></li>
    </ul>
  </nav>
</header>